# Lecture 1: basic types, tuples, and variables

### Jupyter notebooks

Both the lecture and the homework will be in the form of Jupyter notebooks, like this one. A notebook consists of text cells and code cells; the text cells contain text with formatting using Markdown, and can also display things like mathematical formulas and tables. The code cells contain Python code that we will execute as we go through the lecture.

In order for you to get a feel for the language as soon as possible, it's helpful to open the lecture on your own laptop. To this end, make sure you have Jupyter installed, download this lecture from blackboard and open it.

Note that the notebooks are edited in your browser, which cannot itself execute Python code; in Jupyter, your browser connects with a Python interpreter, called the "Kernel" that runs as a separate process on your computer, sending it code to evaluate and displaying the results. This is what the "Kernel" menu refers to.

As you're using a Jupyter notebook, you'll notice that there's always one active cell, that's highlighted in either blue or green. If it's green, you're *editing* the cell, if it's blue, you've simply *selected* it. While outside of edit mode (your cell is highlighted in blue), there are a couple of keystrokes you need to master to manage your notebook conveniently:

| key | action
|:---:|----------
| A   | insert a code cell before the selected one.
| B   | insert a code cell after the selected one
| M   | turn cell into a text cell
| Y   | turn cell into a code cell
| C   | copy cell
| X   | cut cell
| V   | paste cell
| Enter | edit this cell
| Shift+Enter | evaluate or typeset this cell

**Exercise:**
- Below this text cell, create another text cell, enter the text "Getting there", and typeset it.
- Also create a code cell, enter the Python expression `"Hello world"`, and evaluate it.
- Create another code cell, enter "`# this is a comment`", and evaluate it.
- Create another code cell, enter some random nonsense, and evaluate it.

In the remainder of this first lecture, we'll talk about the most basic building blocks of Python: its built in basic types and values, variables, and tuples.

## Basic types and values

- Chunks of data that your program works with are called *values*, or *objects*.

- Every value has a *type*.

All programming languages make available a number of built in data types, such as integers and floating point numbers, strings for textual data, and booleans for logical operations. Additionally, many languages, including Python, allow the programmer to introduce additional types that are built from values of the built in types.

For every type, there have to be one or more ways to *create* (or *construct*) values of that type, and operations supported by values of those types.


In the first half of the lecture we will look at such basic types, and what you can do with them. In the second half, we will look at types that allow you to combine such basic values into larger objects. In each case, we'll look at:

- How to construct values of those types
- What operations these types permit
- Assorted important rules and properties

### Numbers: `int` and `float`

There are two built-in numeric types in Python: `int` and `float`.

An `int` is an integer number. It can be positive or negative. A specific integer can be constructed with a literal expression, which consists of a sequence of digits:

In [ ]:
42

(Note that when we evaluate a cell in a Jupyter notebook, the last value produced is reported as output.) In Python3, there are no limits on its size, which can be very convenient:

In [ ]:
-3298234293472398572937423984205320751098750293753498067906

A `float` is a "floating point number", that is, a rough approximation of a real number. Like integers, they can be constructed simply by typing them in; Python will recognise them by the appearance of a decimal point:

In [ ]:
3.354353

In [ ]:
4.0

You can also construct floating point numbers using "scientific notation", which consists of a number, the letter `e`, and an integer exponent. `12.4e5` means `12.4` times `10` to the power `5`.

In [ ]:
12.4e5

Floating point numbers are represented in the computer as a fixed precision binary number between 1 and 2, with a separate exponent. Numbers have a precision of about 15 decimals, and the exponent can range from about -300 to +300.

So it's possible to store a very tiny, or a very large number by using a small or a large exponent, but if you add a very tiny number to a very large number, the result will need to use the large exponent, so precision will be lost.

In [1]:
# how many digits will be retained?
0.012345678901234567890123456789

0.012345678901234568

In [2]:
# so a billionth should fit easily, let's check:
1e-9

1e-09

In [3]:
1e-500

0.0

In [4]:
# precision loss:
# the sum of the large and the small value cannot be
# represented well. The small bit just ends up getting lost.
(1e9+1e-9)-1e9

0.0

To explicity construct a value of a specific type, you can use one of Python's builtin *type constructors*, which are functions with the same name as the type. This is often convenient to convert between one type and another.

In [5]:
# construct an integer and initialise with value 3 (same as just typing 3)
int(3.0)

3

In [6]:
# construct a floating point value -1.9 and convert to integer
# note: converting to int always rounds towards 0.
int(-1.9)

-1

In [7]:
int(1.6+0.5)

2

In [8]:
# construct an int value (using an int literal) and convert it to float
float(2)

2.0

### Arithmetic operators

We've already seen that floating point numbers can be added and subtracted. Python supports a bunch of arithmetic operators. Usually these can be used with both `int` and `float` numbers, and even with combinations of the two. The rules for whether the result is `int` or `float` are a bit complicated. A rule of thumb is that if an operation with values of that type *might* not yield an integer, then the result will be `float`. Here are some examples:

- Addition (`+`), subtraction (`-`) and multiplication (`*`) of two integers always yields an `int`.

In [9]:
3+5

8

- Addition (+), subtraction (-) and multiplicaton of an `int` and a `float`, or of two `float`s, yields a `float`, *even if the floats represent an integer value*.

In [10]:
3+1.0

4.0

- When you divide two integers, the result may not be integer. So in Python3, the result of division is *always* float! (If it is not, you are accidentally using Python2.)

In [11]:
8/4

2.0

- There is a separate operator `//` specifically for division when you want an integer result. It always rounds the result down.

In [12]:
-13//3

-5

In [13]:
# Huh! The rounding is different from the rounding we saw with the int type constructor?!
int(-13/3)

-4

- Use `%` to get the remainder after integer division.

In [15]:
13%3

1

- Exponentiate using `**`. The result of `a**b` is `int` if `a` and `b` are both `int` and `b >= 0`.

In [16]:
2**4

16

In [17]:
2**-4

0.0625

- You can also use `+` and `-` with only a single number:

In [18]:
-(2+2)

-4

**Precedence**

Operators are executed in order of *precedence*. Operators with a higher precedence are evaluated first.

- *Example:* multiplication before addition:

In [19]:
3+4*5

23

- *Example:* negation operation `-x` is applied *after* exponentiation:

In [20]:
-2**4

-16

- *Rule:* as in mathematics, most operations with the same precedence are executed from left to right...

In [21]:
3-3-3

-3

- Except for exponentiation, which is right-to-left:

In [22]:
2**2**3

256

In [23]:
(2**2)**3

64

In [24]:
2^3

1

- The last example shows that we can change the order of evaluation of an expression by using parentheses.

In [25]:
1-(2-3)

2

**Exercise:**

- The number of kerwoddles is 23957 one moment, 32173 the next. By what percentage did the number increase?
- How can we round the percentage down to a whole number? How could we round it to the nearest whole number?

### Logical values: `bool`

A boolean is a value that can be only two things: `True` or `False`. These are also the literal expressions used to create booleans:

In [26]:
True

True

Booleans are values that pop up in a lot of tests and comparisons:

In [27]:
1+2 == 3 # Important: use two equals signs!

True

In [28]:
3 >= 4

False

In [29]:
3 == 3.0 # Careful: it is generally dangerous to test floats for equality

True

In fact, you can chain equalities and inequalities:

In [30]:
2<3<=3<4==4>3<5

True

(Generally it's best practice to not use `>` and `>=` in chained inequalities.)

There are also operations `and` to check if both of two boolean values are true, and `or` to check if at least one is true.

In [31]:
2>3 or 2<3

True

In [32]:
2>3 and 2<3

False

Finally, you can invert the truth value of a boolean using `not`:

In [33]:
not True

False

Sometimes, it's convenient to, say, count the number of true values in a list. For this reason, **Python allows the values `True` and `False` in arithmetic operations, where they will be interpreted as the integers `1` and `0`, respectively.**

In [34]:
True + 3

4

In [35]:
False * True

0

In [36]:
True / False

ZeroDivisionError: division by zero

### Strings: `str`

A string is a sequence of characters: all letters, numbers, and symbols that can occur in text. Like numbers, strings can be constructed in Python using literal expressions, by enclosing the literal character string by either single quotes or double quotes. It doesn't matter which you use, but using the one allows you to use the other conveniently within the character string.

(In the examples below, the print function is used because it shows the value of the string most faithfully. If you omit it, the literal expression is shown including the opening and closing quote symbols.)

In [37]:
"boo"

'boo'

In [38]:
print("It's convenient to use double quotes here, because the string contains a single quote.")

It's convenient to use double quotes here, because the string contains a single quote.

In [39]:
print('"On the other hand," the lecturer said, "sometimes the other thing is more convenient."')

"On the other hand," the lecturer said, "sometimes the other thing is more convenient."

If your string uses both single and double quotes, you can mark a symbol as part of the string rather than as a closing quote, by using the escape symbol `\`. Backslashes themselves also require a backslash to use in a string literal.

In [40]:
"hello\"

SyntaxError: EOL while scanning string literal (<ipython-input-40-c1653ad7332a>, line 1)

In [41]:
print("It's good! Say, \"Yay!\" \\_O_/")

It's good! Say, "Yay!" \_O_/

As with numbers, you can use the string constructor function to explicitly construct a string, potentially converting from other types like numbers:

In [42]:
str(3.14159265)

'3.14159265'

Strings support many useful functions and operations. The ones you'll need most commonly are:

- Find their length using `len`:

In [43]:
len("Life, the universe, and bloody everything!")

42

- Concatenate using `+`:

In [44]:
"bla"+"bla"

'blabla'

- Extracting a specific letter, by giving the index of the letter in brackets. The index of the first letter is 0:

In [45]:
"blabla"[0]

'b'

- Extracting a substring, by giving the index of the first letter, and the index *just beyond* the last one. (Python is always right-exclusive: the right index is not included in the range.)

In [46]:
"blabla"[3:6]

'bla'

- You can also go through the string in steps that are not equal to one:

In [47]:
"0123456789"[9::-1]

'9876543210'

- Testing whether a substring is in a string using `in`:

In [48]:
"lab" in "blabla"

True

In [49]:
"boo" in "blabla"

False

- Counting how often a substring occurs, with `count`. (Note the weird syntax; this is another way to call functions on an object in Python, we will discuss it later.)

In [50]:
"blabla".count("la")

2

- Finding the index of a substring:

In [51]:
"blabla".index("la",2)

4

In [52]:
"blabla".index("boo")

ValueError: substring not found

In [58]:
"boo".startswith( 'b' )

True

## Variables

Variables allow us to keep references to values, so that they can be accessed later on. A variable has a *name* and a reference to a *value*, and as we've seen before, those values have a *type*.

The name can contain letters, digits, and underscores, but it cannot *start* with a digit. So `Hello_31` is a valid variable name, but `31_Hello` is not. It is customary to start variable names with a lower case letter.

In some programming languages, the type is associated with the variable itself: a variable of type `int` can only hold values that are `int`. In Python however, the variable has no particular type; the type is only associated with the value. So **any variable can hold a reference to a value of one type at first, and then later it can be changed to refer to a different value, potentially of another type**.

You can assign a value to a variable using the assignment operator `=` like so:

In [110]:
a = True # Let the variable with name "a" refer to the value True
type(a)

bool

In [111]:
a = "hello"
type(a)

str

**Make sure that you don't confuse the assignment operator `=` with the test for equality `==`. In particular, make sure you test for equality using a double equals sign.**

After assignment, you can use the name of the variable to refer to its value.

In [112]:
len(a)

5

In [113]:
a + " world"

'hello world'

In [114]:
a[3:5]

'lo'

There are rules about the *scope* and *lifetime* of variables: rules about which parts of your program can access their value, and rules about when their value gets discarded. We will discuss such rules in a later lecture: for now all variables we define will persist indefinitely, and be accessible from anywhere. Such variables are called "global variables".

**Exercise:**

- Suppose a variable `x` is a string consisting of two words. Write a Python program that involves `x`, and produces a new string where those words are swapped.

In [115]:
# Exercise: x is a string consisting of two words.
# Write Python code that involves x, and produces a new string where those words are swapped.

In [116]:
x = "hello world"
ix_space = x.index(" ")
b = x[ix_space+1:]
a = x[0:ix_space]
b + " " + a

'world hello'

## Tuples

Tuples are a fixed sequence of values that are bound together as a unit into a single new value. You make a tuple simply by listing the values you want, separated by commas. Tuples are often written in parentheses; while these are optional, it's good practice to include them to avoid confusion.

In [117]:
a = ("Steven", "Haarlem", 3247934)
a

('Steven', 'Haarlem', 3247934)

To be recognisable as a tuple, the expression needs to be `()` for the empty tuple, or it needs to contain at least one comma. This is tricky if you want to create a tuple of only one element!

In [118]:
type(()) # The empty tuple

tuple

In [119]:
type((8)) # The parentheses around the 8 don't look tuple-y enough for Python

int

In [120]:
type((8,)) # So a tuple with one value is written like this

tuple

You can index tuples in the same way you can index strings, using brackets. Remember that Python starts counting at zero!

In [121]:
a[1]

'Haarlem'

Since tuples are Python values like any other, you can stick tuples inside other tuples:

In [122]:
b = (("Steven",  "Haarlem", 3247934),
     ("Maarten", "Leiden",   129831))
b

(('Steven', 'Haarlem', 3247934), ('Maarten', 'Leiden', 129831))

In [123]:
# Exercise: Write a Python expression to access the *city* of the *first* person in `b`.

In [124]:
b[0][1]

'Haarlem'

In [125]:
# Exercise: Write a Python expression to access the *name* of the *second* person in `b`.

To unpack a tuple into its component values, we can use bracket indexing as we've seen above, but another option is to write a tuple of variable names as the *target* of an assignment operation. In such expressions, underscores can be used to indicate that you're not interested in that value.

In [127]:
person1, (_, city2, _) = b # complicated tuple assignment

print("Person 1 is", person1, "; the city of person 2 is", city2)

Person 1 is ('Steven', 'Haarlem', 3247934) ; the city of person 2 is Leiden

This is often very useful, because it allows you to conveniently give names to all the elements of a tuple. In fact, it also allows you to swap the values of two variables!

In [128]:
a = 2
b = 3
(a,b) = (b,a) # swap!
print("a =",a,"; b =",b)

a = 3 ; b = 2