# ItDS Assignment 2

This homework assignment is about lecture 2.

The homework is automatically checked. There are some strict guidelines, which are explained below, including some other information.

- The first code cell contains a function - `student()` - in which you have to fill in your name, student number and e-mail. Please do so __correctly__, since these will be used to store and mail your results.

- All exercises are defined as a function (`def`), of which we will check whether your output of the function corresponds with ours. This means that __we will only check the answer__ (output). So, always check whether your function _returns_ (careful: this is not the same as print) an answer as specified in the exercise!
	- __Do not change the names__ of the given functions, these are specifically named this way for checking the homework. (e.g. if you are to answer exercise 1 which is a function coded: `def exercise1():`, then do not change the name of the function `exercise1()`)
	- __Do not define another new function with the same name__. Even if it is in other cells. We will not be able to find the right version.
	- Do not write additional code in the cell where the function is defined, so only include code within the function that is necessary for the answer. 
    - After the cell with the function (`def`) a code cell is added where an example of an answer is given to show the format of your output. It also contains a test of your function. You can adjust this to whatever you want (even delete it if you want).
	
- Feel free to __add new cells to test snippets of code or for other purposes__.

- There are no hard deadlines, but 15/100 points are awarded for submitting your work before the due date, which you can find on blackboard. It will need to pass at least one test at that time in order to earn those 15 points. __You will be able to resubmit your work at any time after that (until 1 January) and earn the remaining 85/100 points__.

About your homework results: An _exercise_ is considered to be correct if all its subquestions are answered correctly, however an _exercise_ sometimes undergoes multiple tests (based on different inputs). The e-mail with results specifies per _exercise_ which tests you have passed and which you have failed. You will get a score proportional to the number of tested passed.


For any questions about abovementioned guidelines and information or other homework related problems, please e-mail us or ask directly during the workgroup!

- Nicolas Carmona: nicolascarmonao@gmail.com
- Laura Zwep: l.b.zwep@lacdr.leidenuniv.nl

In [1]:
def student():
    sname = 'Yizhen Dai' # enter your name
    snum = '2395479' # enter you student number
    semail = 'jeremydai1992@gmail.com' # enter the e-mail on which you would like the results for this homework assignment
    return((sname, snum, semail))

In [2]:
# The function should look the similar to this:
print(('John Doe', '1234567', 'john@doe.com'))
# Test your output with the function below (run this cell)
student()

('John Doe', '1234567', 'john@doe.com')

('Yizhen Dai', '2395479', 'jeremydai1992@gmail.com')

# Exercises

### Exercise 1: Lift off

Using `range`, `+` and `tuple`, construct a tuple counting down from the given input integer `n` to 'lift off'. So, if the input is 4, the result should be: `(4,3,2,1,'lift off')`

_note_: Use a `return` statement to give your answers as an output of the function. Pay close attention to the way the values should be output!

In [26]:
# exercise1
#     in:  a positive integer n
#     out: a tuple containing (n, n-1, ..., 1, 'lift off')
def exercise1(n):
    result = [n-i for i in range(n)]
    result.append('lift off')
    return(tuple(result))
    # use 'return' to output the correct tuple

In [27]:
# Example of correctly formatted function output given n=6:
print((6,5,4,3,2,1,'lift off'))

# Test your own output on some inputvariables:
exercise1(6)

(6, 5, 4, 3, 2, 1, 'lift off')

(6, 5, 4, 3, 2, 1, 'lift off')

### Exercise 2: Grab the integers

- Given a positive integer `n` and a tuple `tup`, use a `for`-loop to test which integer values in `1,2,...,n` are contained in `tup`. As your answer, return a tuple containing the values which were found to be on that domain and contained in the tuple, __in ascending order__. I.e. for `n = 6` and a tuple `(2,7,6,4)`, the answer should be `(2,4,6)`.

_note_: Use a `return` statement to give your answers as an output of the function. Pay close attention to the way the values should be outputted!

In [44]:
# exercise2
#     in:  a positive integer n and a tuple tup
#     out: a tuple containing those integers from 1 to n that are
#          also in the tuple tup, in ascending order
def exercise2(n, tup):
    return(tuple([i for i in range(1,n+1) if i in tup]))
    # use 'return' to output the correct tuple

In [45]:
# Example of correctly formatted function output given n=6:
print((2,4,6))

# Test your own output on some input variables:
exercise2(6, (2,7,6,4))

(2, 4, 6)

(2, 4, 6)

### Exercise 3: Digits function

Write a function that, given as input integers `n` and `d`, returns the value `True` if `n` contains the digit `d`, and `False` otherwise.  E.g. integer 97 contains the digits 9 and 7, so for `n = 97` your function should return `True` if `d = 9` or `d = 7`, but `False` for all other digits.

_Hint:_ You can use the type constructor function `str()` and check if `d` occurs in the string, either using a `while` or a `for` loop, or in another way. Use the `if` statement to check if the integer contains the digit.

In [48]:
# is_digit_in_number
#     in:  an integer digit d (where 0<=d<=9)
#          an integer number n
#     out: True if n contains d, False otherwise

def is_digit_in_number(d,n):
    # Complete the function here
    return(str(d) in tuple(str(n)))
    # Don't forget, use the return statement to output the result

In [49]:
# Example of correctly formatted answer output:
True

# Test your own output on some inputvariables:
n = 25
d = 5
is_digit_in_number(d, n)

True

### Exercise 4: Fibonacci sequence
For this exercise, you are going to build a function for the Fibonacci sequence. As explained on Wikipedia: 

"In mathematics, the Fibonacci numbers, commonly denoted $F_n$ form a sequence, called the Fibonacci sequence, such that each number is the sum of the two preceding ones, starting from 0 and 1. That is,

$$F_{0}=0,\quad F_{1}=1,$$
and

$$F_{n}=F_{n-1}+F_{n-2},$$
for $n > 1$. "

Now for your function: given input `n`, return a tuple containing the first `n` values of the Fibonacci sequence. To prevent long computation times, the function should return a maximum of 20 values in the tuple, even if `n` is larger than that!

_Hint:_ define the first two values in the tuple `(0,1)` before starting iterations.

In [1]:
# fibonacci
#   in: an integer n
#   out: a tuple with the first min(n, 20) terms of Fibonacci series 

def fibonacci(n):
    if n == 1:
        return((0))
    elif n == 2:
        return((0,1))
    else:
        k = min(n,20)
        f = [0,1]
        for i in range(2,k):
            f.append(f[i-2]+f[i-1])
        return(tuple(f))
    # Complete the function here

In [2]:
print((0, 1, 1, 2, 3, 5))

test_k = 6
fibonacci(test_k)

(0, 1, 1, 2, 3, 5)

(0, 1, 1, 2, 3, 5)

### Exercise 5: Collatz conjecture

Start with any natural number number greater than zero. If it is even, divide it by two; otherwise, multiply by three and add one.

$S(k) = \begin{cases}
k/2&\text{if $k$ is even}\\
3k+1&\text{otherwise.}
\end{cases}$

Starting with a number $n$, repeating this process yields a sequence $n$, $S(n)$, $S(S(n))$, $\ldots$

The Collatz conjecture states that this sequence eventually reaches $1$, regardless of which number $k$ you start with. Interestingly, no-one has been able to prove that this is indeed the case!

- Test this conjecture by hand for the number 7 on a piece of paper or in a text cell in this notebook.

- Write a function that starts at a given number, and calculates all values of the sequence until 1 has been reached. For example, if the number is 7, then it should find 7, then 22, then 11, ... and finally 1.
- The function should then output a tuple containing three values (in this order):
    - the largest value it encountered in this sequence
    - the length of the sequence (including the initial value)
    - `True` if `76` is encountered in this sequence, and `False` otherwise

In [65]:
# collatz
#     in:  an integer number n
#     out: a tuple containing the maximum and lenght of the sequence and whether 76 is encountered

def collatz(n):
    # Complete the function here
    l = []
    while n != 1:
        l.append(n)
        if n%2 == 0:
            n = int(n/2)
        else:
            n = int(3*n + 1)
    l.append(1)
    return((max(l),len(l),76 in l))

In [66]:
# Example of correctly formatted answer output given n = 7:
print((52, 17, False))

# Test your own output on some inputvariables:
n = 7
print(collatz(n))

(52, 17, False)
(52, 17, False)

### Exercise 6: Wide to long format

Data can be structured in a 'wide format', i.e. many columns and few rows, or in 'long format', i.e. many rows and few columns. Below are two examples, both tables describe two students and their grades for the courses they followed.

Example of a wide format:

| Student | Course A | Course B | Course C | Course D |
| --- | --- | --- | --- | --- |
| 1 | 6.5 | NA | 7.0 | 7.5 |
| 2 | 8.5 | 5.5 | NA | 6.0 |

Example of a long format:

| Student | Course | Grade |
| --- | --- | --- |
| 1 | A | 6.5 |
| 1 | C | 7.0 |
| 1 | D | 7.5 |
| 2 | A | 8.5 |
| 2 | B | 5.5 |
| 2 | D | 6.0 |


As you can see, both tables contain the same data, but the format is different. __Note that we assume the NA values not to be of value here and leave them out of the long format__. Both formats have their advantages and disadvantages, which is why it can be helpful to switch from one format to the other.

So, for this problem you will write a function to change data in wide format to long format. The column names will be given as a tuple and the data will be given as one big tuple with smaller tuples for each row, with missing values denoted as `None`. You will also get the column names which you should use for the long format. In this students example, the three inputs would thus be:

`('Student','A','B','C','D')`

`((1,6.5,None,7.0,7.5),(2,8.5,5.5,None,6.0))`

`('Student', 'Course', 'Grade')`

To avoid any problems with checking this assignment, we will use data similar to the example to check your result. Keep in mind that the column names, number of students and number of courses might change! The output should always consist of three rows, however, firstly the 'identifier' ('Student'), secondly the combined column indicating the Course, and lastly one column containing the grade.

Final note: The data should be ordered in such a way that the student is in the first column and the courses in the others. So, first all grades for the first student, which should be ordered by course A first, course D last, then the grades for the second student and so on.

In [82]:
# wide_to_long
#     in:  a tuple containing column/variable names: varnames
#          a tuple containing data on those variables in wide format: data
#          a tuple containing the new variable/column names for long format: newvar
#     out: a single tuple containing column/variable names and all data in long format

def wide_to_long(varnames, data, newvar):
    # Complete the function here
    l=[newvar]
    for d in data:
        s = d[0]
        for i in range(1,len(d)):
            if d[i]:
                l.append((s,varnames[i],d[i]))
    return(tuple(l))

In [83]:
# Example of correctly formatted answer output given the students data:
print((('Student', 'Course', 'Grade'),
 (1, 'A', 6.5),
 (1, 'C', 7.0),
 (1, 'D', 7.5),
 (2, 'A', 8.5),
 (2, 'B', 5.5),
 (2, 'D', 6.0)))

# Test your own output on some inputvariables:
varnames = ('Student', 'A', 'B', 'C', 'D')
data = ((1,6.5,None,7.0,7.5),(2,8.5,5.5,None,6.0))
newvar = ('Student', 'Course', 'Grade')

print(wide_to_long(varnames, data, newvar))

(('Student', 'Course', 'Grade'), (1, 'A', 6.5), (1, 'C', 7.0), (1, 'D', 7.5), (2, 'A', 8.5), (2, 'B', 5.5), (2, 'D', 6.0))
(('Student', 'Course', 'Grade'), (1, 'A', 6.5), (1, 'C', 7.0), (1, 'D', 7.5), (2, 'A', 8.5), (2, 'B', 5.5), (2, 'D', 6.0))

### Exercise 7: Long to wide format
In some situations you will need to manipulate the data the other way around. It might be convenient to switch from long to wide format. 

In this exercise, you won't have to do the full conversion, but we want to know what the header of the wide table should look like, given a specified order of columns. The new header should only contain courses that are in the long data. So if the desired order is `D, A, B, C, E, F, G` and the data look as follows:

| Student | Course | Grade |
| --- | --- | --- |
| 1 | A | 6.5 |
| 1 | C | 7.0 |
| 1 | D | 7.5 |
| 2 | A | 8.5 |
| 2 | B | 5.5 |
| 2 | D | 6.0 |

then the correctly ordered wide header should look like this:

| Student | Course D | Course A | Course B | Course C |
| --- | --- | --- | --- | --- |

Your function should return a tuple with this header.

Note: To simplify the problem, you only have to be concerned with the _Course_ (which is always the second) column as the column to be widened. Also, the first column name should always be _Student_.

In [92]:
# wide_to_long
#     in:  a single tuple containing column/variable names and all data in long format: data
#          a tuple containing the possible course names in the desired order: desired_order
#     out: a single tuple containing the header with the course names present in the data, ordered by 'desired_order'
def long_to_wide_header(data, desired_order):
    l=['Student']
    courses = set([x[1] for x in data[1:]])
    for x in desired_order:
        if x in courses:
            l.append('Course '+x)
    return(tuple(l))
    # Complete the function here

In [93]:
# Example of correctly formatted answer output given the students data and the ordered courses as in example:
print(('Student', 'Course D', 'Course A', 'Course B', 'Course C'))

# Test your own output:
test_long_data = (('Student', 'Course', 'Grade'),
                 (1, 'A', 6.5),
                 (1, 'C', 7.0),
                 (1, 'D', 7.5),
                 (2, 'A', 8.5),
                 (2, 'B', 5.5),
                 (2, 'D', 6.0))

test_order_courses = ('D','A','B','C','E','F','G')
long_to_wide_header(test_long_data, test_order_courses)

('Student', 'Course D', 'Course A', 'Course B', 'Course C')

('Student', 'Course D', 'Course A', 'Course B', 'Course C')